@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Roboto";
}

@media (min-width: 875px) {
  main {
    padding-top: 82px;
  }
}
@media (max-width: 875px) {
  main {
    padding: 82px 10px 10px 10px;
    width: calc(100vw - 20px);
  }
}

a:visited {
  color: inherit;
}

.button-blue {
  padding: 12px 22px;
  background-color: #6648bd;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
}
.button-blue:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button-white {
  padding: 12px 22px;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  color: black;
  border: none;
}
.button-white:hover {
  cursor: pointer;
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 875px) {
  #main-index .section {
    width: 80%;
    margin: auto;
  }
  #main-index .section:not(:nth-child(1)) {
    padding-top: 40px;
  }
  #main-index .section #hero-wrapper {
    display: flex;
    flex-direction: row;
  }
  #main-index .section #hero-wrapper .hero-50 {
    width: 50%;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(1) div h2 {
    font-size: 46px;
    margin: 0;
    padding-top: 20px;
    line-height: 1.2;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(2) img {
    width: 80%;
    border-radius: 50%;
  }
  #main-index #mobility .section-header, #main-index #fascia .section-header, #main-index #personaltraining .section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #main-index #mobility .section-header span, #main-index #fascia .section-header span, #main-index #personaltraining .section-header span {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #6648bd;
    border-radius: 50%;
    margin-right: 20px;
  }
  #main-index #mobility .section-header span svg, #main-index #fascia .section-header span svg, #main-index #personaltraining .section-header span svg {
    width: 50px;
    height: 50px;
  }
  #main-index #mobility .section-header h1, #main-index #fascia .section-header h1, #main-index #personaltraining .section-header h1 {
    font-size: 40px;
    margin: 0;
  }
  #main-index #mobility div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #main-index #mobility div:nth-child(2) div:nth-child(1) {
    width: 60%;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) h2 {
    margin-top: 0px;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul {
    display: flex;
    flex-direction: column;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul li span {
    font-size: 28px;
    margin-right: 10px;
    color: #7755df;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul li h3 {
    margin: 0;
  }
}
@media (max-width: 875px) {
  #main-index {
    overflow: hidden;
  }
  #main-index .section:not(:nth-child(1)) {
    padding-top: 40px;
  }
  #main-index .section #hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(1) div h2 {
    font-size: 2.2rem;
    margin: 0;
    padding-top: 20px;
    line-height: 1.2;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  #main-index .section #hero-wrapper .hero-50:nth-child(2) img {
    width: 80%;
    border-radius: 50%;
  }
  #main-index #mobility .section-header, #main-index #fascia .section-header, #main-index #personaltraining .section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #main-index #mobility .section-header span, #main-index #fascia .section-header span, #main-index #personaltraining .section-header span {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #6648bd;
    border-radius: 50%;
    margin-right: 20px;
  }
  #main-index #mobility .section-header span svg, #main-index #fascia .section-header span svg, #main-index #personaltraining .section-header span svg {
    width: 30px;
    height: 30px;
  }
  #main-index #mobility .section-header h1, #main-index #fascia .section-header h1, #main-index #personaltraining .section-header h1 {
    font-size: 2rem;
    margin: 0;
  }
  #main-index #mobility div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) {
    display: flex;
    flex-direction: column;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) h2 {
    margin-top: 0px;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul {
    display: flex;
    flex-direction: column;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul li span {
    font-size: 28px;
    margin-right: 10px;
    color: #7755df;
  }
  #main-index #mobility div:nth-child(2) div:nth-last-child(1) ul li h3 {
    margin: 0;
  }
}
@media (min-width: 875px) {
  #contact-whole-wrapper {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
  }
  #contact-whole-wrapper #contact-head {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 40%;
    margin-top: 50px;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper {
    display: flex;
    flex-direction: column;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left {
    width: 100%;
    padding: 10px;
    border-left: solid #6648bd;
    margin-bottom: 20px;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left h1 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 40px;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left p {
    font-size: 20px;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left p span {
    color: #6648bd;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-right {
    width: 85%;
    align-content: left;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-right img {
    max-width: 100%;
    max-height: 100%;
  }
  #contact-whole-wrapper #contact-form {
    width: 60%;
    height: 80%;
    margin: 0 auto 20px auto;
    background-color: #6648bd;
    border-radius: 6px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper h1 {
    color: #fff;
    font-size: 28px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input .contact-form-input-box {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input .contact-form-input-box label {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input .contact-form-input-box input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 10px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row label {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row input {
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row select {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row textarea {
    height: 200px;
    resize: none;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr input {
    width: 20px;
    height: 20px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr p {
    color: #fff;
    margin-left: 10px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr p a {
    text-decoration: none;
    color: black;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #form-btn {
    width: 200px;
    margin-bottom: 20px;
  }
}
@media (max-width: 875px) {
  #contact-whole-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: hidden;
  }
  #contact-whole-wrapper #contact-head {
    width: auto;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper {
    display: flex;
    flex-direction: column;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left {
    width: 100%;
    margin-bottom: 10px;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left h1 {
    font-size: 40px;
    color: #6648bd;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left p {
    font-size: 20px;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-left p span {
    color: #6648bd;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-right {
    align-content: left;
  }
  #contact-whole-wrapper #contact-head #contact-head-wrapper #contact-head-right img {
    max-width: 100%;
    max-height: 100%;
    display: none;
  }
  #contact-whole-wrapper #contact-form {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    background-color: #6648bd;
    border-radius: 6px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper h1 {
    color: #fff;
    font-size: 28px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input .contact-form-input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input .contact-form-input-box label {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input .contact-form-input-box input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 10px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-two-input .contact-form-input-box:nth-child(1) {
    margin-bottom: 20px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row label {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row input {
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row select {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper .contact-form-row textarea {
    height: 200px;
    resize: none;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr input {
    width: 20px;
    height: 20px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr p {
    color: #fff;
    margin-left: 10px;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #contact-gdpr p a {
    text-decoration: none;
    color: black;
  }
  #contact-whole-wrapper #contact-form #contact-form-wrapper #form-btn {
    width: 200px;
    margin-bottom: 20px;
  }
}
@media (min-width: 875px) {
  #main-services #services-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto 20px auto;
    width: 80%;
  }
  #main-services #services-wrapper .servies-wrapper-col {
    width: 50%;
  }
  #main-services #services-wrapper .servies-wrapper-col h1 {
    margin-top: 0;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable:not(:nth-last-child(1)) {
    margin-bottom: 20px;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #f4f4f4;
    border: none;
    width: 100%;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn span {
    font-size: 20px;
    font-weight: bold;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn svg {
    fill: black;
    height: 35px;
    width: 35px;
    transition: transform 0.5s ease-out;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn[aria-label=visible] svg {
    transform: rotate(45deg);
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-description[aria-label=hidden] {
    display: none;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-description[aria-label=visible] {
    display: block;
  }
}
@media (max-width: 875px) {
  #main-services #services-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
  }
  #main-services #services-wrapper .servies-wrapper-col h1 {
    margin-top: 10px;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable:not(:nth-last-child(1)) {
    margin-bottom: 20px;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #f4f4f4;
    border: none;
    width: 100%;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn span {
    font-size: 20px;
    font-weight: bold;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn svg {
    fill: black;
    height: 35px;
    width: 35px;
    transition: transform 0.5s ease-out;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-extendable-btn[aria-label=visible] svg {
    transform: rotate(45deg);
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-description[aria-label=hidden] {
    display: none;
  }
  #main-services #services-wrapper .servies-wrapper-col .services-extendable .services-description[aria-label=visible] {
    display: block;
  }
  #main-services #services-wrapper .servies-wrapper-col:nth-child(1) {
    margin-bottom: 20px;
  }
}
@media (min-width: 875px) {
  #about-top-text h1 {
    font-size: 40px;
    color: #6648bd;
  }
  #about-top-text p {
    font-size: 15px;
  }
}
header {
  display: flex;
  justify-content: center;
  padding: 14px;
  position: fixed;
}

@media (min-width: 875px) {
  header {
    width: calc(100% - 28px);
  }

  #navbar-desktop {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #navbar-desktop ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #navbar-desktop ul li:not(:nth-last-child(1)) {
    margin-right: 60px;
  }
  #navbar-desktop ul li:nth-last-child(1) {
    background-color: #6648bd;
    padding: 12px 22px;
    border-radius: 20px;
  }
  #navbar-desktop ul li:not(:nth-last-child(1)):hover {
    cursor: pointer;
    border-bottom: 3px solid #6648bd;
  }
  #navbar-desktop ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  #navbar-desktop ul li #contact-me-btn {
    color: #fff;
  }
  #navbar-desktop ul li #contact-me-btn:hover {
    opacity: 0.8;
  }

  #navbar-mobile, #navbar-mobile-extended {
    display: none;
  }
}
@media (max-width: 875px) {
  header {
    background-color: #fff;
    width: calc(100vw - 28px);
  }

  #navbar-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #navbar-mobile #mobile-navlist-btn {
    display: flex;
    align-items: center;
    background-color: #6648bd;
    border-radius: 50%;
    padding: 10px;
  }
  #navbar-mobile #mobile-navlist-btn svg {
    width: 25px;
    height: 25px;
    fill: #fff;
  }

  #navbar-desktop {
    display: none;
  }

  #navbar-mobile-extended {
    position: fixed;
    justify-content: center;
    height: calc(100vh - 82px);
    width: 0vw;
    bottom: 0;
    right: 0;
    background-color: #6648bd;
    overflow: hidden;
    transition: width 0.5s ease-out;
  }
  #navbar-mobile-extended ul {
    padding: 0;
  }
  #navbar-mobile-extended ul li {
    text-align: center;
    margin-bottom: 2vh;
  }
  #navbar-mobile-extended ul li a {
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
  }
}
footer {
  background-color: #7755df;
}

@media (min-width: 875px) {
  #footer-wrapper {
    padding: 20px;
    text-align: center;
  }
  #footer-wrapper p {
    color: white;
  }
  #footer-wrapper .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 20px auto;
    width: 80%;
  }
  #footer-wrapper .footer-row a {
    text-decoration: none;
    color: white;
  }
  #footer-wrapper .footer-row a:hover {
    color: orange;
  }
  #footer-wrapper .footer-row ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: red;
  }
  #footer-wrapper .footer-row ul li {
    font-weight: bold;
  }
  #footer-wrapper .footer-row svg {
    fill: #fff;
    width: 30px;
    height: 30px;
  }
  #footer-wrapper .footer-row:nth-child(2) {
    flex-direction: row;
    justify-content: center;
  }
  #footer-wrapper .footer-row:nth-child(2) svg:nth-child(1) {
    margin-right: 20px;
  }
}
@media (max-width: 875px) {
  #footer-wrapper {
    padding: 20px;
    text-align: center;
  }
  #footer-wrapper p {
    color: white;
  }
  #footer-wrapper .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px auto 20px auto;
  }
  #footer-wrapper .footer-row a {
    text-decoration: none;
    color: white;
  }
  #footer-wrapper .footer-row a:hover {
    color: orange;
  }
  #footer-wrapper .footer-row ul {
    display: flex;
    flex-direction: column;
    color: red;
    text-align: left;
  }
  #footer-wrapper .footer-row ul li {
    font-weight: bold;
    font-size: 20px;
  }
  #footer-wrapper .footer-row ul li:not(:nth-last-child(1)) {
    margin-bottom: 14px;
  }
  #footer-wrapper .footer-row svg {
    fill: #fff;
    width: 30px;
    height: 30px;
  }
  #footer-wrapper .footer-row:nth-child(2) {
    flex-direction: row;
  }
  #footer-wrapper .footer-row:nth-child(2) svg:nth-child(1) {
    margin-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */