@media(min-width:875px){
    #about-top-text{
        h1{
            font-size: 40px;
            color: $blue0;
        }
        p{
            font-size: 15px;
        }
    }
}
@media(max-width:875px){

}