#contact-head{
    margin-left: 50px;
    margin-right: 50px;
    #contact-head-wrapper{
        display: flex;
        flex-direction: row;
        #contact-head-right{
            width: 60%;
            padding: 10px;
            h1{ 
                margin-bottom: 10px;
            }
            p{
                padding-right: 400px;
            }
            span{
                color: $blue0;
            }  
        }
        #contact-head-left{
            width: 40%
            
        }
    }
}

//Behöver fixas!!
#contact-form{
    .contact-form-two-input{
        display: flex;
        flex-direction: row;
        .contact-form-input-box{
            display: flex;
            flex-direction: column;
            width: 48%;
            input{
                width: 25vw;
            }
        }
    }
    #contact-form-wrapper{
        background-color: #6648bd;
        border-style: solid;
        border-radius: 30px;
        margin: 0px auto 40px auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        .contact-form-input{
            display: flex;
            flex-direction: column;
            #contact-form-input-divider{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .contact-form-input-box{
                    width: 45%;
                    label{

                    }
                    input{
                        width: 100%;
                    }
                }
            }
            label{
                color: white;
            }
            input{
                width: 50vw;
                height: 4vh;
                border-style: solid;
                border-radius: 4px;
                margin: 10px;
            }
        }
        #contact-form-options{
            display: flex;
            flex-direction: column;
            text-align: left;
            select{
                width: 51vw;
                height: 4vh;
                border-style: solid;
                border-radius: 4px;
            }
        }
        #contact-form-textbox{
            margin-top: 15px;
            textarea{
                width: 50vw;
                height: 25vh;
                border-style: solid;
                border-radius: 4px;
                padding: 4px 4px 4px 6px;
                resize: none;
            }
        }
        #contact-gdpr{
            display: flex;
            flex-direction: row;
            input{
                width: 20px;
            }
            p{
                a{
                    color:beige;
                    text-decoration: none;
                    &:hover{
                        color: orange;
                    }
                } 
            }
        }
        #mail-container-button{
            button{
                border: 1px solid black;
                border-radius: 20px;
                border-color: white;
                background-color: white;
                font-weight: bold;
                color: #6648bd;
                margin-bottom: 20px;
                padding: 12px 22px;
                transition: 0.2s ease-in-out;
                &:hover{
                    background-color: orange;
                    border-color: orange;
                    color: white;
                } 
            }

        }
    }
}